<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF4orLwgmD8u_tF-ydEXndVGMoQ4ZPYE0</string>
	<key>GCM_SENDER_ID</key>
	<string>977387646210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waqoodi.client.waqoodiClient</string>
	<key>PROJECT_ID</key>
	<string>perfect-66fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>perfect-66fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977387646210:ios:e99c687ab66dab123da61b</string>
</dict>
</plist>